.container{
	width: 80%;
	margin: 0 10%;
	padding: 0;
	background-color: #202020;
	font-family: "Source Sans Pro", sans-serif;
}

header{
	margin: 0;
	padding: 0;
	color: white;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	color: #7E8385;
	border-bottom: 1px solid  #4F4F4F;
	list-style-type: none;
}

li:hover{
	background-color: #2980B9;
	color: white;
}

a{
	text-decoration: none;
	color: #4F4F4F;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2vw;

}

a:hover{
	text-decoration: none;
	color: white;
}

#calendar a:hover{
	color: #4F4F4F;
}

h1{
	font-size: 2.5vw;
}

h2{
	font-size: 1.2vw;
}

h3{
	font-size: 1.2vw;
}

p{
	font-size: 1vw;
}

section{
	margin: 0;
	padding: 0;
	background-color: white;
}

#article{
	margin: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid  #4F4F4F;
}

#date{
	border-right: 1px solid  #4F4F4F;
}

footer{
	margin: 0;
	padding: 0;
	background-color: white;
}